.profile-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.profile-link {
    margin: 32px;
}

.profile-link p {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

.profile-image {
    width: 194px;
    height: 259px;
    border-radius: 50%;
}